Package: subutai-n2n
Version: 2.1.1
Architecture: amd64
Maintainer: Subutai Team <subut.ai>
Installed-Size: 29
Depends: subutai-n2n-edge, subutai-n2n-supernode
Section: net
Priority: extra
Description: dummy package for transition purposes
 A dummy package for transition purposes that depends on n2n-edge,
 n2n-supernode and tuntap-create
