Source: subutai-n2n
Section: net
Priority: extra
Maintainer: Subutai Team <subut.ai>
Build-Depends: cdbs, debhelper (>= 5), libc6-dev (>= 2.0), dpatch, gcc, libssl-dev
Standards-Version: 3.7.2

Package: subutai-n2n
Architecture: any
Depends: subutai-n2n-edge, subutai-n2n-supernode
Description: dummy package for transition purposes
 A dummy package for transition purposes that depends on n2n-edge,
 n2n-supernode and tuntap-create

Package: subutai-n2n-edge
Architecture: any
Suggests: uml-utilities
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: n2n (<< 2.1.0-1)
Replaces: n2n (<< 2.1.0-1)
Description: a layer-two peer-to-peer virtual private network (VPN)
 n2n is a layer-two peer-to-peer virtual private network (VPN) which allows
 users to exploit features typical of P2P applications at network instead of
 application level. This means that users can gain native IP visibility (e.g.
 two PCs belonging to the same n2n network can ping each other) and be
 reachable with the same network IP address regardless of the network where
 they currently belong. In a nutshell, as OpenVPN moved SSL from application
 (e.g. used to implement the https protocol) to network protocol, n2n moves
 P2P from application to network level.
 .
 Edge is the edge node daemon for n2n which creates a TAP interface to expose
 the n2n virtual LAN.

Package: subutai-n2n-supernode
Architecture: any
Suggests: subutai-n2n-edge
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: n2n (<< 2.1.0-1)
Replaces: n2n (<< 2.1.0-1)
Description: a layer-two peer-to-peer virtual private network (VPN)
 n2n is a layer-two peer-to-peer virtual private network (VPN) which allows
 users to exploit features typical of P2P applications at network instead of
 application level. This means that users can gain native IP visibility (e.g.
 two PCs belonging to the same n2n network can ping each other) and be
 reachable with the same network IP address regardless of the network where
 they currently belong. In a nutshell, as OpenVPN moved SSL from application
 (e.g. used to implement the https protocol) to network protocol, n2n moves
 P2P from application to network level.
 .
 Supernode is a node introduction registry, broadcast conduit and packet relay
 node for the n2n system.

Package: subutai-tap-create
Architecture: any
Description: tap device creator
 TAP (namely network tap) devices simulates a link layer device and it
 operates with layer 2 packets like Ethernet frames. By this package tap
 creation and edge commands are seperated.
